GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash

# GEMINI_PROXY=http://127.0.0.1:10808
# HTTPS_PROXY=http://127.0.0.1:10808

# Локальная модель для run_llama_server.bat (выбирается также в интерфейсе)
LOCAL_MODEL=models\YandexGPT-5-Lite-8B-instruct-Q4_K_M.gguf

LLM_BASE_URL=http://127.0.0.1:8080
LLM_GPU_LAYERS=18
LLM_CTX=8192

